[submodule "site-lisp/better-defaults"]
	path = site-lisp/better-defaults
	url = https://github.com/technomancy/better-defaults
[submodule "site-lisp/dash.el"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el
[submodule "magit-popup"]
	path = site-lisp/magit-popup
	url = https://github.com/magit/magit-popup
