[submodule "site-lisp/better-defaults"]
	path = site-lisp/better-defaults
	url = https://github.com/technomancy/better-defaults
[submodule "site-lisp/dash.el"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el
